<%- include("header") -%>

<h2>About</h2>
      <ul>
        <li>Hey, Welcome to your to-do-list.</li>
        <li>Click on the + button or press enter to add an item to your to-do-list.</li>
        <li>Check the checkbox to delete an item from your to-do-list.</li>
        <li>Create your own to-do-list by simply adding a parameter.</li>
        <p>Eg. <a href="https://to-do-list.cyclic.app/home">https://to-do-list.cyclic.app/home</a> would create a to-do-list named home.</p>
      </ul>

<%- include("footer") -%>
